# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [1]:
nums2=[]
n=1
while n <= 10:
    print(n)
    nums2.append(n*n)
    n+=1
    
print(nums2)

1
2
3
4
5
6
7
8
9
10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [9]:
import random
n=1
randomnums = []
while n<=10:
    randomnum = (random.randint(1,10))
    randomnums.append(randomnum)
    n+=1
print(randomnums)
randomnums.max()
randomnums.min()

[8, 8, 6, 1, 6, 7, 3, 3, 5, 3]

TypeError: 'list' object is not callable

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [ ]:
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
new_list(2:1)

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [6]:
College=("Bellarmine", "2001 Neuburg RD")
print(College(0))

TypeError: 'tuple' object is not callable

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [ ]:
user_age=int(input("Enter your age: "))
if user_age>=18:
    print("Student is not a minor")
else:
    print("Student is a minor")

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [ ]:
user_input1 = int(input("Enter a number: "))
if user_input1%2==1:
    if user_input1>10:
        print("Numnber is odd and greater than 10")
    elif user_input1<10:
        print("Number is odd and less than 10")
elif user_input1%2==0:
    if user_input1>10:
        print("Number is even and greater than 10")
    elif user_input<10:
        print("Number is even and less than 10")
    elif user_input1==10:
        print("Number is even and eqaul to 10")

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [ ]:
user_input=int(input("Enter a number: "))
if user_input % 11 == 0:
    print("Number is a multiple of 11")
else:
    print("Number is not a multiple of 11")

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [15]:
dictionary = {}
keys =  [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
dictionary=keys+values
print(dictionary)

[10, 20, 30, 'Ten', 'Twenty', 'Thirty']

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [10]:
user_input11 = int(input("Enter a number: "))
user_input12 = int(input("Enter a number: "))
print(user_input11*user_input12)

Enter a number: 12
Enter a number: 12
144

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
for n in nums:
    print(n)

In [ ]:
numbers = [ ]
n=1
while n<=10:
    numbers.append(n)
    n+=1
print(numbers)